* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  gap: 2rem;
}

button {
  width: 20rem;
  border-radius: 10px;
  border: 0;
  padding: 1rem;
  background-color: #166534;
  color: #ffff;
  font-size: 1rem;

  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #16a34a;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 12rem;
  border-radius: 8px;
  padding: 1rem;
  color: #d1fae5;
  background-color: #7c3aed;
  box-shadow: 1px 1px 2px #dcfce7;
}
