* {
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem 2%;
  border-bottom: 1px solid #334155;
  background: #1e293b;
}

.header-container {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-map-marker {
  font-size: 3rem;
  color: #facc15;
}

h1 {
  color: #cbd5e1;
}

input[type='text'] {
  width: 12rem;
  padding: 0.5rem;
  border: 0;
  color: #ffff;
  background: #1e293b;
  box-shadow: 0 0 0 1px #059669;
  border-radius: 8px;
}

input[type='text']:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #34d399;
}

input[type='text']::placeholder {
  color: #6b7280;
}

label {
  visibility: hidden;
}

#send {
  width: 4rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 8px;
  color: #fff;
  background-color: #4f46e5;
  cursor: pointer;
  font-size: 1rem;

  transition: background-color 0.2s ease-in-out;
}

#send:hover {
  background-color: #6366f1;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #334155;
}

.hide {
  display: none;
}

.empty-cep {
  color: #cbd5e1;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
}

.table {
  width: 100%;
  text-align: center;
  box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.5);
}

thead {
  background: #4ade80;
  color: #323232;
  font-size: 1.5rem;
}

tbody {
  background: #cbd5e1;
  font-size: 1.2rem;
  height: 2.5rem;
}

#button-clear {
  width: 2.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 8px;
  color: #fff;
  background-color: #991b1b;
  cursor: pointer;
  font-size: 1.2rem;

  box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.5);

  transition: background-color 0.2s ease-in-out;
}

#button-clear:hover {
  background-color: #dc2626;
}

#results {
  width: 78rem;
  margin: 5rem auto;
  padding: 0 2%;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;
}
